.app {
    --app-color: #92979b;
}

.title {
    margin-bottom: 32px;
}

.line {
    color: var(--app-color);
    width: 100%;
    border-bottom: 1px solid var(--app-color);
}

.jpegIcon {
    display: flex;
    width: 700px;
    height: 200px;
    background-image: url("../images/bg1.jpeg");
    background-position: center;
}

.svgIcon {
    display: flex;
    width: 56px;
    height: 56px;
    background-image: url("../images/iconPro.svg");
    border: 1px solid red;
}
